﻿<!-- index.html -->
<!DOCTYPE html>

<!-- define angular app -->
<html>
<head>
    <!-- SCROLLS -->
    <!-- load bootstrap and fontawesome via CDN -->
    <meta charset="utf-8" />
    <title>Swim A Mile</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" href="/app/images/icon.png">
    <link href="Content/bootstrap.css" rel="stylesheet" />

    <link href="Content/css/font-awesome.css" rel="stylesheet" />
    <link href="Content/Site.css" rel="stylesheet" />
    <link href="Content/jquery.mobile-1.4.5.css" rel="stylesheet" />
    <!-- SPELLS -->
    <!-- load angular via CDN -->
    <script src="Scripts/jquery-2.1.3.js"></script>
    <script src="Scripts/jquery.mobile-1.4.5.js"></script>

    <script src="Scripts/bootstrap.js"></script>
    <script src="Scripts/angular.js"></script>
    <!--<script src="Scripts/angular-route.js"></script>-->
    <script src="Scripts/angular-animate.js"></script>
    <script src="Scripts/angular-resource.js"></script>
    <script src="app/scripts/script.js"></script>
    <script src="app/scripts/importPausedjs.js"></script>
    <script src="app/scripts/loginjs.js"></script>
    <script src="app/scripts/Namejs.js"></script>
    <script src="app/scripts/SelectLanejs.js"></script>
    <script src="app/scripts/SelectSessionjs.js"></script>
    <script src="app/scripts/StartListjs.js"></script>
    <script src="app/scripts/StartSessionjs.js"></script>
    <script src="app/scripts/Welcomejs.js"></script>
    <script src="app/scripts/Resultjs.js"></script>

</head>

<!-- define angular controller -->
<body ng-app="SwimAMile">


    <!--////////////////////////////LOGIN////////////////////-->
    <div data-role="page" id="login" ng-controller="loginController">

        <div class="ui-header ui-bar-inherit" role="banner" data-role="header">
            <h1 aria-level="1" role="heading" class="ui-title">Login to start Event</h1>
        </div>


        <div role="main" style="text-align:center">
            <!--<div class="row">
                <div class="text-center">
                    <label class="form-control-static">Please Enter Unique ID</label>
                </div>
            </div>-->


            <div class="row">
                <div class="col-xs-12 text-center warning">
                    <span class="label label-danger">{{erroText}}</span>
                </div>
            </div>


            <div class="row" style="margin:30px 10px;">
                <div class="text-center">
                    <input type="text" ng-model="uniquID" class=" fullWidth text-center text-uppercase" style="text-align:center" />
                </div>

            </div>
        </div>


        <div class="ui-footer ui-bar-inherit" role="contentinfo" data-role="footer">
            <div role="heading" style="text-align:center">
                <input type="button" value="Login" class="ui-btn ui-btn-inline ui-corner-all" ng-click="validateUniquId()" />
                <input type="button" value="Resume" class="ui-btn ui-btn-inline ui-corner-all" ng-show="canResume" ng-click="resume()" />
            </div>

        </div>


    </div>



    <!--////////////////////////////WELCOME////////////////////-->
    <div data-role="page" id="Welcome" ng-controller="WelcomeController">
        <div class="ui-header ui-bar-inherit" role="banner" data-role="header">
            <h1 aria-level="1" role="heading" class="ui-title">Welcome to Swim for a Mile</h1>
        </div>

        <div role="main" style="text-align:center">
            <div class="row">
                <div class="col-xs-6 text-right"><label class="form-control-static " style="font-weight:normal">Location</label> </div>
                <div class="col-xs-6 text-left"><label class="form-control-static text-left" style="font-weight:bold">{{name}}</label> </div>
            </div>
            <div class="row">
                <div class="col-xs-6 text-right"><label class="form-control-static" style="font-weight:normal">Distance</label> </div>
                <div class="col-xs-6 text-left "><label class="form-control-static text-lef" style="font-weight:bold">{{distance}}</label> </div>
            </div>
            <div class="row">
                <div class="col-xs-6 text-right"><label class=" form-control-static " style="font-weight:normal">Pool Length</label> </div>
                <div class="col-xs-6 text-left"><label class="form-control-static text-left" style="font-weight:bold">{{length}}</label> </div>
            </div>
            <div class="row">
                <div class="col-xs-6 text-right"><label class="form-control-static " style="font-weight:normal">Laps</label> </div>
                <div class="col-xs-6 text-left"><label class="form-control-static text-left" style="font-weight:bold">{{laps}}</label> </div>
            </div>
        </div>

        <div class="ui-footer ui-bar-inherit" role="contentinfo" data-role="footer">
            <div role="heading" style="text-align:center">

                <button class="ui-btn ui-btn-inline ui-corner-all" data-icon="back" data-iconpos="right" ng-click="Back()"> Back</button>
                <button class="ui-btn ui-btn-inline ui-corner-all" ng-click="submit()"> Continue</button>
            </div>
        </div>

    </div>

    <!--////////////////////////////SELECT SESSION////////////////////-->
    <div data-role="page" id="SelectSession" ng-controller="SelectSessionController">
        <div class="ui-header ui-bar-inherit" role="banner" data-role="header">
            <h1 aria-level="1" role="heading" class="ui-title">Select Session</h1>
        </div>

        <div role="main" style="text-align:center">
            <ul data-role="listview" data-inset="true">
                <li ng-repeat="session in Sessions">
                    <a ng-click="selected(session.Id)" class="ui-btn ui-btn-icon-right ui-icon-carat-r" href="#">Heat {{session.Heat}} ({{ session.TimeFrom | date: 'HH:mm'}} - {{session.TimeTo | date: 'HH:mm' }})</a>
                </li>
            </ul>
        </div>


        <div class="row">
            <div class="col-xs-12 text-center warning">
                <span class="label label-danger">{{erroText}}</span>
            </div>
            <div class="col-xs-12 text-center">
                <span class="label label-info">{{selectedSession}}</span>
            </div>
        </div>
        <div class="ui-footer ui-bar-inherit" role="contentinfo" data-role="footer">
            <div role="heading" style="text-align:center">
                <button class="ui-btn ui-btn-inline ui-corner-all" ng-click="Back()"> Back</button>
                <button ng-click="submit()" class="ui-btn ui-btn-inline ui-corner-all">Continue</button>
            </div>
        </div>

    </div>

    </div>


    <!--////////////////////////////SelectLane////////////////////-->
    <div data-role="page" id="SelectLane" ng-controller="SelectLaneController">
        <div class="ui-header ui-bar-inherit" role="banner" data-role="header">
            <h1 aria-level="1" role="heading" class="ui-title">Select Lane</h1>
        </div>

        <div role="main" style="text-align:center">
            <ul data-role="listview" data-inset="true">
                <li ng-repeat="lane in LaneCounts">
                    <a ng-click="selected(lane)" class="ui-btn ui-btn-icon-right ui-icon-carat-r" href="#">Lane {{lane}}</a>
                </li>
            </ul>

            <div class="row">
                <div class="col-xs-12 text-center warning">
                    <span class="label label-danger">{{erroText}}</span>
                </div>
                <div class="col-xs-12 text-center">
                    <span class="label label-info">{{selectedLane}}</span>
                </div>
            </div>
            <div class="ui-footer ui-bar-inherit" role="contentinfo" data-role="footer">
                <div role="heading" style="text-align:center">
                    <button class="ui-btn ui-btn-inline ui-corner-all" ng-click="Back()"> Back</button>
                    <button ng-click="submit()" class="ui-btn ui-btn-inline ui-corner-all">Continue</button>
                </div>
            </div>

        </div>

    </div>

    <!--////////////////////////////STARTLIST////////////////////-->

    <div data-role="page" id="StartList" ng-controller="startListController">

        <div class="ui-header ui-bar-inherit" role="banner" data-role="header">
            <h1 aria-level="1" role="heading" class="ui-title">Manage Participants</h1>
        </div>

        <div role="main" style="text-align:center">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th class="col-xs-4 text-left">
                            BIB
                        </th>
                        <th class="col-xs-6  text-left">
                            Name
                        </th>

                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="p in participants">
                        <td>
                            <input type="text" ng-model="p.bib" ng-change="changed(p.id)" class="form-control fullWidth" />
                        </td>
                        <td>
                            <input type="text" ng-model="p.fullName" ng-change="changed(p.id)" value="{{p.fName}} {{p.lName}}" class="form-control fullWidth" />
                        </td>

                    </tr>
                </tbody>
            </table>

            <div class="row text-center col-xs-12 text-center">
                <table class="col-xs-12 table-stroke">
                    <tr>
                        <td class="col-xs-5" style="font-weight:bold">
                            Enter Your Name
                        </td>
                        <td class="col-xs-7">

                            <input type="text" class="form-control" maxlength="100" ng-model="ConductedByName" />
                        </td>
                    </tr>
                </table>
            </div>
            <br />
            <br /><br />
<br />
            <div class="row text-center">
                <label class="label-danger">{{errormessage}}</label>
                <label class="label-success">{{successmessage}}</label>
            </div>
            
            <br />
        </div>


        <div class="ui-footer ui-bar-inherit" role="contentinfo" data-role="footer">
            <div role="heading" style="text-align:center">
                <button class="ui-btn ui-btn-inline ui-corner-all" ng-click="Back()"> Back</button>
                <button class="ui-btn ui-btn-inline ui-corner-all" ng-click="Add()" value="+ Add">+Add</button>
                <button class="ui-btn ui-btn-inline ui-corner-all" ng-click="SyncOnline()" value="Start Session">Start Session</button>
            </div>
        </div>
    </div>
    <!--////////////////////////////IMPORT PAUSED////////////////////-->

    <div data-role="page" id="ImportPaused" ng-controller="ImportPausedController">
        <div class="ui-header ui-bar-inherit" role="banner" data-role="header">
            <h1 aria-level="1" role="heading" class="ui-title">Select Participant to Import</h1>
        </div>

        <div role="main" style="text-align:center">
            <div class="row" ng-repeat="participant in participants">
                <div class="col-lg-6">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <input type="checkbox" ng-click="submit(participant.id)" style="width:30px; height:30px;" ng-model="participant.checked" />
                        </span>
                        <input type="text" class="form-control" readonly="readonly" style="height:45px !important; background-color:white !important;" aria-label="..." value="{{participant.bib}} - {{participant.fName}}" />
                    </div>
                </div>
            </div>
        </div>

        <div class="ui-footer ui-bar-inherit" role="contentinfo" data-role="footer">
            <div role="heading" style="text-align:center">
                <button ng-click="submit()" class="ui-btn ui-btn-inline ui-corner-all">Import</button>
                <button ng-click="back()" class="ui-btn ui-btn-inline ui-corner-all">Back</button>
            </div>
        </div>

    </div>



    <!--////////////////////////////START SESSION////////////////////-->

    <div data-role="page" id="StartSession" ng-controller="StartSessionController">

        <div class="ui-header ui-bar-inherit" role="banner" data-role="header">
            <div style="background-color:#ffffff; display:block">
                <div class="startheader">
                    <div class="container body-content">
                        <div class="row" style="margin-left: 30px;">
                            <div class="col-xs-4 text-left left">Lane{{lane}}:Heat{{heat}}</div>
                            <div class="col-xs-4 text-center center" style="color:#ffffff">{{time}}</div>
                            <div class="col-xs-4 text-right right">{{sessionTime}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div role="main" style="text-align:center">
            <div class="row" style="margin-right: 5px !important;
  margin-left: 5px !important; ">

                <div class="col-xs-6" style="padding:5px !important;" ng-repeat="p in participants">
                    <button ng-click="clicked(p.id)" style="border:none; padding:0px; margin:0px; background-color:transparent;" class="col-xs-12">
                        <div class="bib {{p.participantStatus}} col-xs-3">
                            {{p.bib}}
                        </div>
                        <div class="nonbib col-xs-9">
                            <div class="nameAndremaing col-xs-12" style="  overflow:hidden; ">
                                <div class="col-xs-10" style="  height:24px !important; padding:0px; overflow:hidden">
                                    {{p.fName}} {{p.lName}}
                                </div>
                                <div class="col-xs-2 remainLap" style=" height:24px !important;padding:0px; overflow:hidden">
                                    {{p.remainingLaps}}
                                </div>
                            </div>
                            <div class="meterAndStatus col-xs-12">
                                <div class="col-xs-4" style="height:20px !important;padding:0px; overflow:hidden">
                                    {{p.totalLength}}
                                </div>
                                <div class="col-xs-8" style="height:20px !important;padding:0px; overflow:hidden">
                                    {{p.statusText}}
                                </div>
                            </div>
                        </div>
                    </button>
                </div>
            </div>
        </div>


        <div data-role="popup" id="popupDialog" data-overlay-theme="a" data-theme="c" data-dismissible="false" style="max-width:400px; background-color:#eeeeee;" class="ui-corner-all">
            <div data-role="header" data-theme="a" class="ui-corner-top">
                <h1>Reset Event</h1>
            </div>
            <div data-role="content" data-theme="d" class="ui-corner-bottom ui-content">
                <h3 class="ui-title">Are you sure you want to Reset this event?</h3>
                <p>This action cannot be undone.</p>
                <a href="#" data-role="button" data-inline="true" data-rel="back" data-theme="c">Cancel</a>
                <a href="#" ng-click="Reset()" data-role="button" data-inline="true" data-rel="back" data-transition="flow" data-theme="b">Ok</a>
            </div>
        </div>

        <div class="ui-footer ui-bar-inherit" role="contentinfo" data-role="footer">
            <div role="heading" style="text-align:center">


                <footer class=" startheader">
                    <div class="container body-content">
                        <div class="row" style="margin-left: 30px;">


                            <button class="pause ui-btn ui-btn-inline ui-corner-all" ng-click="pause()" style="width:70px ;height:63px ;border:none; padding:0px; margin:0px; background-color:transparent; opacity:0.3;">
                                <img width="70" height="63" src="pause.png" alt="Pause" />
                            </button>

                            <button class="import ui-btn ui-btn-inline ui-corner-all" ng-click="import()" style="width:70px ;height:63px ;border:none; padding:0px; margin:0px; background-color:transparent; opacity:0.3;">
                                <img width="70" height="63" src="import.png" alt="Import" />
                            </button>

                            <button class="disqualify ui-btn ui-btn-inline ui-corner-all" ng-click="disqualify()" style="width:70px ;height:63px ;border:none; padding:0px; margin:0px; background-color:transparent; opacity:0.3;">
                                <img width="70" height="63" src="disqualify.png" alt="Disqualify" />
                            </button>

                            <button class="ui-btn ui-btn-inline ui-corner-all" ng-click="finish()" ng-show="ShowFinish" style="width:70px ;height:63px ;border:none; padding:0px; margin:0px; background-color:transparent;">
                                <img width="70" height="63" src="finish.png" alt="Finish" />
                            </button>
                            <a href="#popupDialog" data-rel="popup" data-position-to="window" class="ui-btn ui-btn-inline ui-corner-all" data-role="button" data-inline="true" data-transition="pop" data-icon="delete" data-theme="b">Reset Event</a>




                        </div>
                    </div>
                </footer>


            </div>
        </div>
    </div>
    <!--////////////////////////////RESULT////////////////////-->

    <div data-role="page" id="Result" ng-controller="ResultController">

        <div class="ui-header ui-bar-inherit" role="banner" data-role="header">
            <h1 aria-level="1" role="heading" class="ui-title">Event Result </h1>
        </div>

        <div role="main" style="text-align:center">
            <div class="row col-xs-12">
                <div class="col-xs-5 text-right">
                    Event name
                </div>
                <div class="col-xs-7" style="font-weight:bold; background-color:inherit; text-align:left !important;">
                    {{eventName}}
                </div>
            </div>
            <div class="row col-xs-12">
                <div class="col-xs-5 text-right">
                    Heat
                </div>
                <div class="col-xs-7" style="font-weight:bold; background-color:inherit; text-align:left !important;">
                    {{heatNo}}
                </div>
            </div>
            <div class="row col-xs-12">
                <div class="col-xs-5 text-right">
                    Lane number
                </div>
                <div class="col-xs-7" style="font-weight:bold; background-color:inherit; text-align:left !important;">
                    {{laneNo}}
                </div>

            </div>

            <div class="row col-xs-12" style="border:1px solid grey; padding:5px; margin:3px 0px; font-weight:bold; background-color:#808080; color:#ffffff;  ">
                <div class="col-xs-2"> Position</div>
                <div class="col-xs-3"> Bib</div>
                <div class="col-xs-4"> Full Name</div>
                <div class="col-xs-2"> Finish Time</div>
                <div class="col-xs-1"> Laps</div>
            </div>

            <ol data-role="listview">
                <li ng-repeat="item in result|orderBy : 'seconds' " class="col-xs-12" ng-click="showLaps(item)">
                    <div class="col-xs-2" style="padding-top:10px !important;border-bottom: 1px solid #808080"> {{$index+1}} </div>
                    <div class="col-xs-3" style="padding-top:10px !important;border-bottom: 1px solid #808080"> {{item.bib}} </div>
                    <div class="col-xs-4" style="padding-top:10px !important;border-bottom: 1px solid #808080"> {{item.fullName}} </div>
                    <div class="col-xs-2" style="padding-top:10px !important;border-bottom: 1px solid #808080"> {{item.duration}} </div>
                    <div class="col-xs-1" style="padding-top:10px !important;border-bottom: 1px solid #808080" ng-hide="item.showLaps"> + </div>
                    <div class="col-xs-1" style="padding-top:10px !important;border-bottom: 1px solid #808080" ng-show="item.showLaps"> - </div>

                    <div ng-click="showLaps(item)">
                        <div>
                            <ol data-role="listview" ng-show="item.showLaps" style="padding:0px; margin:0px;">
                                <li class="col-xs-12"  style="font-weight:bold; background-color:#808080; color:#ffffff;padding:0px; margin:0px;">
                                    <div class="col-xs-2"> LAP No</div>
                                    <div class="col-xs-6 text-lef">&nbsp;</div>
                                    <div class="col-xs-4 text-lef"> Duration </div>
                                </li>
                                <li ng-repeat="l in item.laps|orderBy : 'lapNo' " class="col-xs-12" style="padding:0px; margin:0px;">
                                    <div class="col-xs-2" style="background-color:#eeeeee; font-weight:bold; border-bottom: 1px solid #808080"> Lap {{l.lapNo}} </div>
                                    <div class="col-xs-6 text-lef" style="background-color:#eeeeee; font-weight:bold; border-bottom: 1px solid #808080">&nbsp;</div>
                                    <div class="col-xs-4 text-lef" style="background-color:#eeeeee; border-bottom: 1px solid #808080"> {{l.duration}} </div>
                                </li>
                            </ol>
                        </div>
                    </div>
                </li>

            </ol>


            <div class="row">
                <div class="col-xs-12 text-center">
                    <span class="label label-danger" ng-show="erroTextTextVisibility">{{errorText}}</span>
                    <span class="label label-info" ng-show="successTextVisibility">{{successText}}</span>
                </div>
            </div>
        </div>
        <div class="ui-footer ui-bar-inherit" role="contentinfo" data-role="footer">
            <div role="heading" style="text-align:center">
                <button ng-click="ShowResultAsText()" class="ui-btn ui-btn-inline ui-corner-all">Show Result As Text</button>
                <button ng-click="save()" ng-hide="EventStarted" class="ui-btn ui-btn-inline ui-corner-all">Sync to server</button>
                <button ng-click="BackToLogin()" ng-hide="EventStarted" class="ui-btn ui-btn-inline ui-corner-all">Back To Login</button>
            </div>
        </div>


        <div class="row col-xs-12">
            <label style="font-weight:normal; margin:30px; padding:5px; width:100% !important; height:150px" ng-show="resultTextVisiblity">{{resultText}}</label>
        </div>


        <div ng-show="resultTextVisiblity" class="row col-xs-12" />
        <br />
        <br />
        <br />


    </div>


</body>
</html>