﻿<div>
    <h1>Select Session</h1>
    <select class="form-control" ng-model="itemSelected" ng-change="SessionSelected()">
        <option ng-repeat="session in Sessions" value="{{session.Id}}">Heat {{session.Heat}}</option>
    </select>

    <h1>Select Lane</h1>
    <select class="form-control">
        <option ng-repeat=" i in " value="{{$index+1}}">Lane {{$index+1}}</option>
    </select>

    {{LaneCount}}

</div>
