﻿<div class="container-fluid">
    <div class="row col-xs-12">
        <div class="col-xs-12 text-center">
            <label class="form-control-static">Select Participant to Import</label>
        </div>
    </div>

    <div>
        <div class="row" ng-repeat="participant in participants">
            <div class="col-lg-6">
                <div class="input-group">
                    <span class="input-group-addon">
                        <input type="checkbox" ng-click="submit(participant.id)" style="width:30px; height:30px;" ng-model="participant.checked" />
                    </span>
                    <input type="text"  class="form-control" readonly="readonly" style="height:45px !important; background-color:white !important;" aria-label="..." value="{{participant.fName}}" />
                </div>
            </div>
        </div>
    </div>
    <div class="row col-xs-12" style="margin-top:10px;">
        <div class=" col-xs-offset-4 col-xs-8 text-left">
            <button ng-click="submit()" class="btn btn-primary btn-sm">Import</button>
            <button ng-click="back()" class="btn btn-primary btn-sm">Back</button>
        </div>
    </div>

</div>
