﻿ <!-- home.html -->

<div class="row">
    <div class="col-xs-12 text-center">
        <h1>Login Page</h1>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 text-center">
        <label class="form-control-static">Please Enter Unique ID</label>
    </div>
</div>


<div class="row">
    <div class="col-xs-12 text-center warning">
        <span class="label label-danger">{{erroText}}</span>
    </div>
</div>


<div class="row   col-xs-10  col-xs-offset-1">
    <div class="text-center">
        <input type="text" ng-model="uniquID" class="form-control fullWidth text-center text-capitalize" />
    </div>

</div>
<div class="row">
    &nbsp;
</div>

<div class="row" style="margin-top:10px;">
    <div class="text-center  col-xs-12">
        <input type="button" value="Login" class="btn btn-primary" ng-click="validateUniquId()" />
    </div>

</div>
