﻿<div>
    <div class="row col-xs-12" style="border:1px solid grey; padding:5px; margin:3px 0px; font-weight:bold; background-color:#808080; color:#ffffff;  ">
        <div class="col-xs-2"> Sr No.</div>
        <div class="col-xs-3"> Bib</div>
        <div class="col-xs-5"> Full Name</div>
        <div class="col-xs-2"> Duration </div>
    </div>


    <div class="row col-xs-12" ng-repeat="item in result|orderBy : 'seconds' " style="border:1px solid grey; padding:5px; margin:3px 0px; font-weight:bold;">
        <div class="col-xs-2"> {{$index+1}}. </div>
        <div class="col-xs-3"> {{item.bib}} </div>
        <div class="col-xs-5"> {{item.fullName}} </div>
        <div class="col-xs-2"> {{item.duration}} </div>
    </div>

</div>

<div class="row">
    <div class="col-xs-12 text-center">
        <span class="label label-danger" ng-show="erroTextTextVisibility">{{errorText}}</span>
        <span class="label label-info" ng-show="successTextVisibility">{{successText}}</span>
    </div>
</div>

<footer class=" startheader">
    <div class="container body-content">
        <div class="row" style="margin-left: 30px;">
            <button ng-click="ShowResultAsText()" class="btn btn-primary btn-sm">Show Result As Text</button>
            <button ng-click="save()" ng-hide="EventStarted" class="btn btn-primary btn-sm">Sync to server</button>
            <button ng-click="BackToLogin()" ng-hide="EventStarted" class="btn btn-primary btn-sm">Back To Login</button>
        </div>
    </div>
</footer>

<div class="row col-xs-12">
        <label style="font-weight:normal; margin:30px; padding:5px; width:100% !important; height:150px" ng-show="resultTextVisiblity" >{{resultText}}</label>
</div>


<div ng-show="resultTextVisiblity" class="row col-xs-12" />
<br />
<br />
<br />

</div>