﻿<div class="container-fluid">
    <div class="row col-xs-12">
        <div class="col-xs-12 text-center">
            <label class="form-control-static">Select Lane</label>
        </div>
    </div>

    <div>
        <div class="row" ng-repeat="lane in LaneCounts">
            <div class="col-lg-6">
                <div class="input-group">
                    <span class="input-group-addon">
                        <input type="radio" style="width:30px; height:30px;" ng-model="itemSelected.Id" ng-click="selected()" value="{{lane}}" name="ses" aria-label="...">
                    </span>
                    <input type="text" class="form-control" readonly="readonly" style="height:45px !important; background-color:white !important;" aria-label="..." value="Lane {{lane}}" />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 text-center warning">
            <span class="label label-danger">{{erroText}}</span>
        </div>
    </div>
    <div class="row col-xs-12">
        <div class=" col-xs-offset-4 col-xs-8 text-left">
            <button class="btn btn-primary btn-sm" ng-click="Back()"> Back</button>
            <button ng-click="submit()" class="btn btn-primary btn-sm">Continue</button>
        </div>
    </div>

</div>
