﻿<div class="container-fluid">
    <div class="row col-xs-12">
        <div class="col-xs-12 text-center">
            <label class="form-control-static">Select Session</label>
        </div>
    </div>

    <div class="row col-xs-12 text-center">
        <div class="row  " ng-repeat="session in Sessions">
            <div class="input-group">
                <span class="input-group-addon">
                    <input type="radio" style="width:30px; height:30px;" class="form-control"  ng-model="itemSelected.Id" ng-click="selected()" value="{{session.Id}}" name="ses" aria-label="...">
                </span>
                <input type="text" class="form-control col-xs-8"  readonly="readonly" style="height:45px !important; background-color:white !important;" aria-label="..." value="Heat {{session.Heat}} ({{ session.TimeFrom | date: 'HH:mm'}} - {{session.TimeTo | date: 'HH:mm' }})" />
            </div>
        </div>
    </div>

    <ul data-role="listview" data-inset="true">
        <li><a href="#">Acura</a></li>
        <li><a href="#">Audi</a></li>
        <li><a href="#">BMW</a></li>
        <li><a href="#">Cadillac</a></li>
        <li><a href="#">Ferrari</a></li>
    </ul>

    <div class="row">
        <div class="col-xs-12 text-center warning">
            <span class="label label-danger">{{erroText}}</span>
        </div>
    </div>
    <div class="row col-xs-12" style="margin-top:10px;">
        <div class=" col-xs-12 text-center">
            <button class="btn btn-primary btn-sm" ng-click="Back()"> Back</button>
            <button ng-click="submit()" class="btn btn-primary btn-sm">Continue</button>
        </div>
    </div>

</div>
