﻿<div class="container-fluid">
    <div class="row col-xs-12 text-center">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th class="col-xs-4 text-left">
                        BIB
                    </th>
                    <th class="col-xs-6  text-left">
                        Name
                    </th>
                     
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="p in participants">
                    <td>
                        <input type="text" ng-model="p.bib" ng-change="changed(p.id)" class="form-control" />
                    </td>
                    <td>
                        <input type="text" ng-model="p.fullName" ng-change="changed(p.id)" value="{{p.fName}} {{p.lName}}" class="form-control" />
                    </td>
                    
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row col-xs-12 text-center">
        <label class="label-danger">{{errormessage}}</label>
        <label class="label-success">{{successmessage}}</label>
    </div>
    <div class="row col-xs-12 text-center">
        <button class="btn btn-primary btn-sm" ng-click="Back()"> Back</button>
        <button class="btn btn-primary btn-sm" ng-click="Add()" value="+ Add">+Add</button>
        <button class="btn btn-primary btn-sm" ng-click="SyncOnline()" value="Start Session">Start Session</button>
    </div>
</div>