﻿<div>
    <div class="row col-xs-12 text-center">
        <h1> Welcome to</h1>
        <h1>Swim for a Mile</h1>
    </div>
    <div class="row">
        <div class="col-xs-6 text-right"><label class="form-control-static text-left" style="font-weight:normal">Location</label> </div>
        <div class="col-xs-6 text-left"><label class="form-control-static text-left">{{name}}</label> </div>
    </div>
    <div class="row">
        <div class="col-xs-6 text-right"><label class="form-control-static text-left" style="font-weight:normal">Distance</label> </div>
        <div class="col-xs-6 text-left "><label class="form-control-static text-left">{{distance}}</label> </div>
    </div>
    <div class="row">
        <div class="col-xs-6 text-right"><label class=" form-control-static text-left" style="font-weight:normal">Pool Length</label> </div>
        <div class="col-xs-6 text-left"><label class="form-control-static text-left">{{length}}</label> </div>
    </div>
    <div class="row">
        <div class="col-xs-6 text-right"><label class="form-control-static text-left" style="font-weight:normal">Laps</label> </div>
        <div class="col-xs-6 text-left"><label class="form-control-static text-left">{{laps}}</label> </div>
    </div>
    <div class="row col-xs-12 text-center">

        <button class="btn btn-primary btn-sm" ng-click="Back()"> Back</button>
        <button class="btn btn-primary btn-sm" ng-click="submit()"> Continue</button>
    </div>
</div>
